[user]
	name = René Hansen
	email = renehh@gmail.com
[alias]
  lol = log --graph --decorate --pretty=oneline --abbrev-commit --color
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
  st = status
  bn = !"git for-each-ref --format=\"%(refname:short)\" $(git symbolic-ref HEAD)"
  zp = !"git push -u origin `git bn`:rhardih/`git bn`"
  lb = !"git branch -a | grep -v \"^[[:space:]]*remotes\"" # local branches
  rb = !"git branch -a | cut -f3-  -d '/' | grep "rhardih"" # remote branches
  rdiff = !git diff $(git rev-parse --abbrev-ref --symbolic-full-name @{u})
[core]
	excludesfile = /Users/rene/.gitignore_global
	editor = vim
[mergetool "mvimdiff"]
    cmd = /Applications/MacVim.app/Contents/MacOS/Vim -d -f "$LOCAL" "$MERGED" "$REMOTE"
[push]
	default = upstream
[rerere]
  enabled = 1
[github]
	user = rhardih
