[submodule ".vim/bundle/vim-rails"]
  path = .vim/bundle/vim-rails
  url = https://github.com/tpope/vim-rails.git
[submodule ".vim/bundle/vim-ruby"]
  path = .vim/bundle/vim-ruby
  url = https://github.com/vim-ruby/vim-ruby.git
[submodule ".vim/bundle/vim-javascript"]
	path = .vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule ".vim/bundle/vim-textobj-user"]
	path = .vim/bundle/vim-textobj-user
	url = https://github.com/kana/vim-textobj-user.git
[submodule ".vim/bundle/vim-textobj-rubyblock"]
	path = .vim/bundle/vim-textobj-rubyblock
	url = https://github.com/nelstrom/vim-textobj-rubyblock.git
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".vim/bundle/vim-obsession"]
	path = .vim/bundle/vim-obsession
	url = https://github.com/tpope/vim-obsession.git
[submodule ".vim/bundle/sparkup"]
	path = .vim/bundle/sparkup
	url = https://github.com/rstacruz/sparkup.git
[submodule ".vim/bundle/typescript-vim"]
	path = .vim/bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule ".vim/bundle/vim-jsx-typescript"]
	path = .vim/bundle/vim-jsx-typescript
	url = https://github.com/peitalin/vim-jsx-typescript.git
[submodule ".vim/pack/rhardih/start/fugitive"]
	path = .vim/pack/rhardih/start/fugitive
	url = https://tpope.io/vim/fugitive.git
[submodule ".vim/pack/rhardih/start/splitjoin"]
	path = .vim/pack/rhardih/start/splitjoin
	url = https://github.com/AndrewRadev/splitjoin.vim
[submodule ".vim/pack/rhardih/start/commentary"]
	path = .vim/pack/rhardih/start/commentary
	url = https://tpope.io/vim/commentary.git
[submodule ".vim/pack/rhardih/start/surround"]
	path = .vim/pack/rhardih/start/surround
	url = https://tpope.io/vim/surround.git
[submodule ".vim/pack/rhardih/start/ultisnips"]
	path = .vim/pack/rhardih/start/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule ".vim/pack/rhardih/start/vim-snippets"]
	path = .vim/pack/rhardih/start/vim-snippets
	url = https://github.com/honza/vim-snippets.git
