/*
!.*
*.swp

.tmux/resurrect
.tmux/plugins

.CFUserTextEncoding
.DS_Store
.Trash/
.Xauthority
.android/
.bash_history
.bash_login
.config/
.cups/
.dropbox/
.fontconfig/
.fonts/
.gdb_history
.gem/
.htoprc
.inkscape-etc/
.irb-history
.irb_history
.lesshst
.mysql_history
.npm/
.oces2/
.octave_hist
.oh-my-zsh/
.pentadactyl/
.php_history
.rdebug_hist
.ruby_inline/
.rvm/
.sh_history
.slocdata/
.ssh/
.vegas/
.vim/.netrwhist
.viminfo
.xbmc/
.zcompdump
.zlogin
.zsh-update
.zsh_history
.zshrc.pre-oh-my-zsh
.netrc
